---
layout: default
---

{% for file in site.data.projects reversed %}
{% assign cate = file[0] %}
<h4>{{cate}}</h4>
{% for project in file[1] %}
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{project.image}}" alt="">
            </div>
            <div class="col-md-8">
                <!-- <div class="card-body">
                    
                </div> -->
                <h5 class="card-title"><a href="{{project.link}}">{{project.title}}</a></h5>
                <p class="catd-text">
                    <small class="text-muted">
                        {{project.place}}
                    </small>
                </p>
                <p class="card-text">
                    <small>techniques: {{project.techniques}}</small>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}